<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Header</title>
</head>
<body>
<header>
  <a href="/vessels"><button class="button-to-start">В начало</button></a>
  <ul class="log-list">
    <li class="person-info" th:if="${#authorization.expression('isAuthenticated()')}">
      <div>
        <span th:text="${'Никнейм: ' + #authentication.principal.username}"></span>
        <span th:with="firstRole=${#authentication.authorities[0].authority.substring(5)}" th:text="${'Роль: ' + firstRole}" style="margin-right: 10px;"></span>
      </div>
    </li>
    <li th:if="${#authorization.expression('isAuthenticated()')}">
      <form th:action="@{/logout}" method="post" id="logoutForm">
        <button type="submit" style="margin: 10px;">Logout</button>
      </form>
    </li>
  </ul>
</header>
</body>
</html>
