<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<div class="container">
  <div class="registration-form">
    <div style="margin-left: 46%;">
      <span>Регистрация</span>
    </div>
    <form th:action="@{/authorize/register_process}" th:method="post" th:object="${myUser}">
      <div class="input-username">
        <label for="username">Никнейм:</label>
        <input type="text" id="username" name="username" th:field="*{username}" required>
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
      </div>
      <div class="input-password">
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" th:field="*{password}" required>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
      </div>
      <button type="submit" style="margin-top: 50px;">Регистрация</button>
    </form>
  </div>
</div>
</body>
</html>